.p-tree .p-tree-container .p-treenode-droppoint.p-treenode-droppoint-active {
  /* margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */
  height: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 190px;
  padding: 20px;
  color: white;
}

.App-intro {
    padding: 2em;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body .p-sidebar{
  padding: 0
}

body .p-menu{
  border: 0;
  padding: 0;
  width: 100%;
}

.p-tree {
  width: auto;
}

body .p-datatable .p-datatable-thead > tr > th {
  padding: 2px !important;
}

body .p-picklist .p-picklist-buttons {
  padding: 0.57em 1.9em;
}

.p-picklist-target-controls{
  display: none !important;
}

.p-picklist.p-picklist-responsive .p-picklist-buttons button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.layout-wrapper .layout-sidebar .profile {
    text-align: center;
    padding: 5px 0;
}

.layout-wrapper .layout-sidebar .profile img{
  margin: 0px
}

.MuiIcon-root{
  font-size: 1.2rem !important;
}

.MuiIconButton-root{
  padding: 2px !important;
  /*padding-bottom: 1px !important;*/
}
