body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body .p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2em transparent;
}

body .p-component{
  font-size: 12px !important;
}

/*.p-orderlist.p-orderlist-responsive .p-orderlist-controls{*/
/*  display: none*/
/*}*/

.p-picklist-target-controls{
  display: none;
}

body .p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-label {
    cursor: pointer;
}

.p-dropdown label.p-dropdown-label{
  padding: 5px;
}

body .p-inputtext{
  font-size: 12px !important;
}

.MuiIconButton-root{
  padding-top: 1px;
  padding-bottom: 1px;
}
